a:link { 
    text-decoration: none; 
    color: grey;
} 

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

button{
    background-color: #3882F6;
    border-radius: 8px;
    padding: 10px 20px;
    border-color:aqua;
    color: #f9faf8;
    font-weight: bold;
}

body{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}



header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    padding: 0 15%;

}


header>h1{
    font-size: 24px;
    color: #f9faf8;
}

.headlink{
    display: flex;
    gap: 15px;
}

.content{
    flex: auto;
}

.content-1{
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 5% 15%;
}

.content-2{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 0 15%;
}

.content-2>h1{
    text-align: center;
}

.images{
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-3{
    display: flex;
    flex-direction: column;
    padding: 0 25%;
    background-color: #E5E7EB;
}

#quote{
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    font-weight: 300;
    margin: 10px;
}

#author{
    font-weight: bold;
    text-align: right;
}

.content-4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    margin: 5% 15%;
    border-radius: 8px;
    color: #f9faf8;
}


.left1{
    padding: 20px;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: grey;
    height: 50px;
}

